 html, body {
 	height: 100%;
 }

.bg--yellow {
 	background-color: #FBDD7E;
 	font-family: 'Lato', sans-serif;
 }

.container {
	display: flex;
	align-items: center;
	justify-content: center;
 }

.cup_bronze,
.cup_silver,
.cup_gold {
	width: 361px;
	background-color: #FDFDFD;
	display: flex;
	flex-direction: column;
	align-content: center;
	border-radius: 3px;
	align-items: center;
	justify-content: space-between;
}


.cup_bronze,
.cup_silver {
	height: 441px;
	}

.cup_gold {
    height: 500px;
    margin: 25px;
	}

.cup_price {
	color:  #02995b;
	font-size: 70px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	margin-bottom: 40px;
}	

.cup_img {
	width: 135px;
	height: 120px;
}

.cup_title {
	color:  #333333;
	font-size: 56px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}

.cup_descr {
	color:  #333333;
	font-size: 20px;
	font-weight: 300;
	line-height: 26px;
	text-align: center;
	margin-top: -10px;
}
